/* General Styles */
body {
    background-color: #fffaeb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .user-name h1 {
    color: #000;
  }
  .comentario {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    max-width: 700px; /* Ajusta el ancho máximo del cuadro de comentario según sea necesario */
  }
  .comentario .top-frame h2 {
    text-align: left;
  }
  
  .comentario-details {
    display: flex; /* Establece el contenedor como un flex container */
    justify-content: space-between; /* Distribuye los elementos de manera uniforme, dejando espacio entre ellos */
    align-items: center; /* Alinea verticalmente los elementos al centro */
  }
  
  .divider {
    border: 0; /* Elimina el borde predeterminado */
    height: 4px; /* Establece la altura de la línea */
    background-color: #000000; /* Color de la línea */
    margin: 10px auto; /* Espacio alrededor de la línea y centrado horizontalmente */
    max-width: 900px;
  }

  .comentarios-container {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    border-top-left-radius: 15px; /* Borde redondeado en la esquina superior izquierda */
    border-top-right-radius: 15px;
    border-top: 3px solid #000; /* Borde negro en la parte superior */
    border-left: 3px solid #000; /* Borde negro en la parte izquierda */
    border-right: 3px solid #000; /* Borde negro en la parte derecha */
    border-bottom: 3px solid #000;
    border-bottom-left-radius: 15px; /* Borde redondeado en la esquina inferior izquierda */
    border-bottom-right-radius: 15px;
  }

  .top-frame {
    text-align: center;
    background-color: #fffaeb;
    padding: 20px;
    margin-bottom: 0;
    max-width: 700px;
    /* Sin borde en la parte inferior */
  }

  .top-frame h2 {
    font-size: 30px;
    margin-top: 0;
  }

  .close-btn {
    float: right;
    font-size: 24px;
    cursor: pointer;
    margin-top: -40px;
    width: 40px; /* Ajusta el tamaño del botón */
    height: 40px; /* Ajusta el tamaño del botón */
    border-radius: 50%; /* Hace que el botón tenga forma circular */
    border: 2px solid black; /* Establece el color y el grosor del borde */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header {
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .top-framee h2 {
     /* Aplica negrita al título "Comentarios:" */
    font-size: 20px;
  }
  
  
  .profile-info {
    display: flex;
    align-items: center;
  }
  
  .profile-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  .user-details {
    display: flex;
    align-items: center;
  }
  
  .user_img {
    display: flex;
    align-items: center;
  }
  
  .user_img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .nav {
    margin-right: 10px;
  }
  
  .nac {
    color: #000;
    margin-right: 50px;
  }

  .action-buttons {
    display: flex;
    margin-left: 10px;
  }
  
  .btn {
    border-radius: 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .noticia {
    border-radius: 20px;
    padding: 5px 10px; /* Ajusta el padding para reducir el ancho del botón */
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
  }
  
  .programacion {
    border-radius: 20px;
    padding: 5px 10px; /* Ajusta el padding para reducir el ancho del botón */
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
  }
  

  .btn {
    border-radius: 30px;
    padding: 3px 30px;
    border: 4px solid #000; /* Ancho y color del borde resaltado */
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  
  /* Comentario Styles */
  .comentario {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 15px;
  }
  
  .comentario img {
    margin-top: 10px;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }