
.padre_login{

     display: flex;
     margin:90px 50px;
     width: auto;
     height: 750px;
     background-color: #dcdcdd;
     flex-direction:row ;
    border-radius: 50px;
     border:2px solid black;
     
}
.part1{

height: 100%;
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
}

.part1 .logo_login{
    
     margin: 20px 10px;
}

.part1 .logo_login{
     height: 200px;
     width: 200px;

}

.form{
  
     height:auto;
          width: 70%;
          margin: 10px;
}
.form form{
     display: flex;
          flex-direction: column;
          
}
.form form label{
margin: 5px 10px;
font-size: 20px;
}

.form form input{
     border:1.5px solid gray;
     border-radius: 3px;
     height: 40px;
     margin: 10px ;
}
.form form div{
     display: flex;
     flex-direction:  row;
     
     align-items: center;
}
.form form nav {
     display: flex;
     flex-direction: row;

align-items: center;
     justify-content: space-between;
     
}
                
.form form nav p{
     font-size: 16px;
     font-weight: 600;
     
    
}


.form form nav a  {
     font-weight: 600;
      
     
}

.form form button{
     margin: 5px;
     height: 50px;
     width: auto;
     background-color: #4676df;
     border-radius: 3px;
     color: #ffffff;
     font-size: 20px;
     font-weight: 600;
     border: 1.5px solid black;
}

.otros{
     
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 130px;
     width: 70%;
}

.otros .con{
     display: flex;
     flex-direction: row;
     
     height: 30px;
     margin: 10px;
     width: 100%;
     justify-content: center;
     
          font-weight: 600;
}
.otros .button{
     display: flex;
          flex-direction: row;
        
          height: 30px;
          margin: 10px;
          width: 100%;
          justify-content: center;
}

.otros nav button{
     display: flex;
     flex-direction: row;
     border-radius: 6px;
     border: 1.5px solid black;
     width:120px;
     align-items: center;
     justify-content: center;
     height: 32px;
     margin: 0px 20px;
    
}

.otros img{
     height: auto;
     width: 25px;
}







.part2{
     outline:  2px solid rgb(0, 0, 0);
     background-image: url(src/assets/img/login.png);
          background-position: center center;
          background-repeat:  no-repeat;
          background-size: cover;
          width: 50%;
          height: 100%;
          border-top-right-radius:50px;
     border-bottom-right-radius: 50px;
}


